:root {
  --color-brand-dark: #465929;
  --color-brand-normal: #819b57;
  --color-brand-light: #cfcfbc;
  --primary-dark: #31261a;
  --primary-light: #faf4ea;
  --secondary-dark: #a28268;
}

// /* CSS змінні/
// --bp-mobile: 480px;
// --bp-tablet: 768px;
// --bp-desktop: 1280px;

// /SCSS змінні/
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
