.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--primary-dark);
  cursor: pointer;

  &:hover {
    background-color: var(--primary-dark);
    fill: var(--primary-light);
  }

  &.next {
    transform: rotate(180deg);
  }
}

.carousel-arrow {
  fill: var(--primary-dark);
}

.carousel-button:hover .carousel-arrow {
  fill: var(--primary-light);
}
